{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
    <h1>The time has come</h1>
    <a href="{% url 'profile'  user.username %}">Profile</a>
    {% for article in articles %}
    <h2>{{article.title}}</h2>
    <img src="{{article.image.url}}" alt="">
    <a href="{% url 'single_article' article.id %}">View article</a>
    {% endfor %}
    <p><span style="color:green;">#POVERTY ERADICATION</span></p>
    <h1>STOP<span style="color: green;">POVERTY</span><br>TOGETHER WE CAN.</h1>
    <a router-Link="services">Donate<i class="bi bi-arrow-right"></i></a> <br><br>
    <img src="../../static/img/hanna-morris-3EkT6xb4K9w-unsplash.jpg">
    <img src="../../static/img/ian-macharia-gogGhbvHrYw-unsplash.jpg">
    <img src="../../static/img/ninno-jackjr-CG6Gd__QIOY-unsplash.jpg"> <br><br>
{%endblock%}