{% load static %}

<header>
        <ul class="navbar">
            <li><a href="{% url 'index'%}">Home</a></li>
            <li><a href="#articles">Articles</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

        <li>
        <form action="" class="search-form" role="search" autocomplete="off">
            <div class="input">
                <input type="text" name="search" placeholder="Health, Education, Sanitation" id="search">
            </div>
            <div class="submit">
                <button type="submit">
                    <i class='bx bx-search'></i>
                </button>
            </div>
        </form>
        </li>
       
            <li><a href="{% url 'profile'  user.username %}"><i class='bx bxs-user'></i></a></li>
</header>

