{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
    <!-- <div class="container">
       <div>
        <div
        class="position-relative profile-user-pic rounded-circle border d-flex align-items-center justify-content-center">

    </div>
            <div class="mt-3">
                 <span class="d-block h-100 w-100">
                     {% if profile.avatar %}
                     <img src="{{profile.avatar.url}}" class="img-fluid" alt="">
                     {% else %}
                     <img src="{{profile.user_avatar}}" class="img-fluid" alt="">
                     {% endif %}

                 </span>
                    <h4>{{profile.full_name}}</h4>
                    <p>@{{profile.username}}</p>
                    <p>Email: {{profile.email}}</p>
                    <p>Joined on: {{profile.date_joined|date}}</p>
            </div>
     </div>
    <div>
        <div>
           
            <a href="{% url 'logout' %}" class="nav-link">Logout</a>

            <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="" class="form-label text-sm">Username</label>
                        <input type="text" class="form-control" placeholder="{{user.username}}" value="{{user.username}}" name="username" required>
                            </div>
                 <div class="form-group">
                    <label for="" class="form-label text-sm">Full Name</label>
                        <input type="text" class="form-control" placeholder="Name please" value="{{user.full_name}}" name="full_name" required>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label text-sm">Contact</label>
                                <input type="tel" class="form-control" placeholder="+254712345678"
                                    value="{% if user.contact %}{{user.contact}}{% endif %}" name="contact" required>
                            </div>
                            <div class="form-group pt-2">
                                <label for="" class="form-label text-sm">About Me</label>
                                <textarea name="bio" class="form-control"
                                    rows="3">{% if user.bio %}{{user.bio}}{% endif %}</textarea>
                            </div>
                            <div class="form-group pt-2">
                                <input type="file" name="avatar" class="form-control" value="{{user.avatar.url}}">
                            </div>
                            

                            <div class="text-center pt-5">
                                <button class="btn btn-primary px-4 text-white">
                                    Update
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <a href="{% url 'newArticle' %}">Add Article</a>

            </div>
        </div>
    </div> -->
    <section class="profile-update">
        <form action="{% url 'update_profile'%}" method="POST" enctype="multipart/form-data" id="updateProfileForm">
            <div class="modal fade" id="updateProfileModal" tabindex="-1" aria-labelledby="updateProfileModalLabel"aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-uppercase" id="updateProfileModalLabel"> Edit Profile </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="" class="form-label text-sm">Username</label>
                                    <input type="text" class="form-control" placeholder="{{user.username}}" value="{{user.username}}" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label text-sm">Full Name</label>
                                    <input type="text" class="form-control" placeholder="Name please" value="{{user.full_name}}" name="full_name" required>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label text-sm">Contact</label>
                                <input type="tel" class="form-control" placeholder="+254712345678"
                                    value="{% if user.contact %}{{user.contact}}{% endif %}" name="contact" required>
                            </div>
                            <div class="form-group pt-2">
                                <label for="" class="form-label text-sm">Bio</label>
                                <textarea name="bio" class="form-control"
                                    rows="3">{% if user.bio %}{{user.bio}}{% endif %}</textarea>
                            </div>
                            <div class="form-group pt-2">
                                <input type="file" name="avatar" class="form-control" value="{{user.avatar.url}}">
                            </div>
                            <button type="submit" class="btn btn-primary w-100">UPDATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        <div class="container my-5 p-5 content_wrapper">
        
            <div class="profile">
                <div class="d-flex mb-4">
                    <div class="profile_pic">
                        {% if profile.avatar %}
                        <img src="{{profile.avatar.url}}" alt="">
                        {% else %}
                        <img src="{%static 'img/default.png'%}" alt="">
                        {% endif %}
                    </div>
                    <div class="details">
                        <ul>
                            <li><strong>Full Name:</strong> {{profile.full_name}} </li>
                            <li><strong>Username:</strong> @{{profile.username}}</li>
                            <li><strong>Email:</strong><a href="https://mailto:{{profile.email}}"> {{profile.email}}</a></li>
                            <p>Joined on: {{profile.date_joined|date}}</p>
                        </ul>
                    </div>
                </div>
                {% if user == profile %}
                <div class="btn btn-outline-primary my-4 rounded-0 text-uppercase" data-bs-toggle="modal"
                    data-bs-target="#updateProfileModal">Edit Profile
                </div>  
                {% endif %}
            </div>
            <div class="container">
                <div class="row">
                    {% for article in articles %}
                    <div class="col-md-8">
                        <div class="card" style="width: 100%; margin: auto;">
                            <img src="{{article.image.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p>{{article.post| safe}}</p>   
                                {% if user == article.author %}
                                <a href="{% url 'delete_article' article.id %}" class="btn btn-md btn-outline-danger">Delete</a>
                                <a href="{% url 'single_article' article.id %}" class="btn btn-md btn-outline-primary" >View</a>
                                {% endif %}                   
                            </div>
                          </div>
                          {% endfor %}
                    </div>
                </div>
            </div>
        </section>
   
   
{%endblock%}
