@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
    list-style: none;
    text-decoration: none;
    background-color: #FDFFA9;
    scroll-behavior: smooth;
}
section{
    padding: 40px 3%;
  }
/* Navbar */
header{
    position: fixed;
    width: 100%;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    padding: 5px 3%;
    z-index: 1;
}
.navbar li{
    display: inline-block;
    padding: 10px 22px;
}
.navbar li a{
    color: #00C897;
    font-size: 18px;
    transition: all 1.4s ease 0s;
    text-decoration: none;
}
.navbar li a:hover{
    cursor: pointer;
    color: #019267;
    background-color: #00C897;
    padding: 10px;
    color: #FFFFFF;
}
header li{
    color: #00C897;
    margin-left: auto;
}
header li a{
    color: #00C897;
}
/* End of Navbar */


/* Index/Home Section */

.home{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}
.home-text{
    text-transform: uppercase;
}
.home-text h3{
    color: #00C897;
    background: rgba(128, 128, 128, 0.2);
    backdrop-filter: blur(10px);
    background-size: 12px;
    letter-spacing: 0.3em;
    font-size: 28px;
    font-weight: 500;
    border-radius: 4px;
    background-size: 440px 0;
    width: 480px;
}
.home-text h3 span{
    font-size: 40px;
}
.home-text h1{
    color: #000;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 70px;
}
.home-text h1:nth-child(3){
    font-weight: 500;
    font-size: 64px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.8);
}
.home-text h1 span{
    color: #00C897;
}
.home-text .button{
    display: inline-block;
    width: 245px;
    height: 65px;
    border-radius: 8px;
    background-color: #019267;
    color: #FFFFFF;
    font-size: 24px;
    border: none;
    font-weight: 500;
    transition: all 1.4s ease 0s;
}
.modal{
    background-repeat: no-repeat;
    background-image: url('/static/img/ninno-jackjr-CG6Gd__QIOY-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.home-text .modal .modal-dialog .modal-content .modal-header .btn-close{
    color: #1A202C;
}
.home-text .modal .modal-dialog .modal-content .btn-primary{
    background-color: #019267;
    border: none;
}
.home-text .modal .modal-dialog .modal-content .btn-primary:hover{
    background-color: #00C897;
}
.home-text button:hover{
    background-color: #00C897;
}
/* images */
.home-img{
    width: 100%;
}
.home-img img{
  width: 85%;
  border-radius: 8px;
  transition: 1.4s ease 0s;
}
.home-img img:hover{
    transform: scale(1.2);
}

/* Articles Section */
.article .heading{
    text-align: center;
}
.article-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    align-items: center;
}
.heading h1{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    margin-bottom: 15px;
}
.heading h2{
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}
.heading span{
    color: #00C897;
    font-weight: 600;
}
.card{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #FDFFA9;
}
.card-img{
    width: 100%;
}
.card-img img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 8px 8px 0 0;
}
.card h2{
    color: rgba(0, 0, 0, 0.8);
    margin-top: 18px;
}
.card button{
    border: none;
    background-color: #019267;
    border-radius: 6px;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    font-weight: 500;
    margin-top: 10px;
}

/* About Us Section */
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    align-items: center;
}
.about-text h1{
    color: #00C897;
    text-align: center;
    margin-bottom: 25px;
}
.about-text span{
    color: rgba(0, 0, 0, 0.8);
}
.about blockquote{
    text-align: center;
    color: #1A202C;
    font-size: 25px;
}
.about cite{
    color: #00C897;
}
.about p{
    color: #1A202C;
    font-size: 25px;
}
.about-img img{
    width: 70%;
    border: 6px solid #00C897;
}

/* Contact Section */
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
}
.contact-box h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #00C897;
}
.social{
    display: flex;
    margin-top: 1.5rem;
}
.social i{
    font-size: 20px;
    margin-right: 1rem;
    color: #00C897;
}
.social i:hover {
    color: #019267;
}
.contact-box li a{
    color: #1A202C;
    text-decoration: none;
}
.contact li a:hover{
    color:#019267;
}
.address {
    display: flex;
    flex-direction: column;
}
.address i,span{
    color: #1A202C;
}  
.address span {
    margin-left: 1rem;
}  
.copyright {
    text-align: center;
}

/* Login */
.box-form{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    background-color: #FDFFA9;
    height: 100vh; 
    border: 5px solid #00C897;
}
@media (max-width: 980px){
    .box-form {
        flex-flow: wrap;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}
.box-form div{
    height: auto;
}
.box-form .left{
    background-repeat: no-repeat;
    background-image: url('/static/img/tucker-tangeman-9aAr_EFqYdc-unsplash.jpg');
    width: 50%;
    background-size: cover;
    background-position: center;
    
}
.box-form .left .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(253, 255, 169, 0.2);
    padding: 30px;
}
.box-form .left .overlay blockquote{
    text-align: center;
    line-height: 2.5rem;
    color: #1A202C;
    margin-top: 180px;
    font-size: 25px;
    background-color: transparent;
}
cite{
    color: #fff;
    font-size: 20px;
    background-color: transparent;
}
.box-form .right{
    padding: 40px;
    width: 50%;  
}

@media (max-width: 980px){
    .box-form .right {
        width: 100%;
    }
    .box-form .left{
        width: 0;
        display: none;
    }
}
.squeeze{
    padding: 30px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    
}
.box-form .right p {
    font-size: 16px;
    color: #2D3748 ;
    font-weight: 400;
}
.box-form .right h5 {
    font-size: 23px;
    color: #1A202C ;
}
.box-form .right .form input{
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #00C897; 
    background-color: #FDFFA9; 
}
.box-form .right .form .remember-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}
.box-form .right .form .remember-me input{
    margin: 0;
    width: auto;
}

.remember-me p a{
    text-decoration: none;
    color: #2C5282;
}
.dont p a{
    text-decoration: none;
    color: #2C5282;
}
.login-google a{
    text-decoration: none;
    color: #2C5282;
}
.box-form .right .form button{
    display: grid;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    transition: 1s;
}
.box-form .right .form .login button{
    background-color: #019267;
    color: #fff;
    margin-top: 18px;
    margin-bottom: 8px;
    border: none;
}
.box-form .right .form .login button:hover{
    background-color: #00C897;
    cursor: pointer;
}
.box-form .right .form .login-google button{
    background-color: #2D3748;
    color: #fff;
    border: none;
}
.box-form .right .form .login-google button:hover{
    background-color: #000;
    cursor: pointer;
}
.box-form .right .form .input_field{
    margin-bottom: 14px;
    margin-top: 15px;
}
.box-form .right .form .input_field p{
    left: 0%;
    margin-bottom: 6px;
    color: #4A5568;
    font-size: 16px;
}
.box-form .right .form .dont p{
   margin-top: 150px;
   text-align: center;
   margin-top: 70px;
}
.box-form .right .form .login-google button i{
    
    color: #fff;
}

/* Registration form */
.box-form2{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    background-color: #FDFFA9;
    height: 100vh;
    font-family: 'Roboto';
    border: 5px solid #00C897;
}
@media (max-width: 980px){
    .box-form2 {
        flex-flow: wrap;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}
.box-form2 div{
    height: auto;
}
.box-form2 .right{
    background-repeat: no-repeat;
    background-image: url('/static/img/tucker-tangeman-9aAr_EFqYdc-unsplash.jpg');
    width: 50%;
    background-position: center;
    background-size: cover ;
}
.box-form2 .right .overlay{
    width: 100%;
    height: 100%;
    background: #FDFFA9;
    background-color: rgba(253, 255, 169, 0.2);
    padding: 30px;
}
.box-form2 .right .overlay blockquote{
    text-align: center;
    line-height: 2.5rem;
    color: #1A202C;
    margin-top: 180px;
    font-size: 25px;
    background-color: transparent;
}
.box-form2 .left{
    padding: 30px;
    width: 50%;  
}
@media (max-width: 980px){
    .box-form2 .left {
        width: 100%;
    }
    .box-form2 .right{
        width: o;
        display: none;
    }
}
.squeeze{
    padding: 30px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    
}
.box-form2 .left p {
    font-size: 14px;
    color: #2D3748 ;
    font-weight: 400;
}
.box-form2 .left h5 {
    font-size: 23px;
    color: #1A202C ;
}
.box-form2 .left .form input{
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #00C897; 
    background-color: #FDFFA9; 
    
}

.box-form2 .left .form button{
    display: grid;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    transition: 1s;
}
.box-form2 .left .form .login button{
    background-color: #019267;
    color: #fff;
    margin-top: 18px;
    margin-bottom: 8px;
    border: none;
}
.box-form2 .left .form .login button:hover{
    background-color: #00C897;
    cursor: pointer;
}
.box-form2 .left .form .login-google button{
    background-color: #2D3748;
    color: #fff;
    border: none;
}
.box-form2 .left .form .login-google button:hover{
    background-color: #000;
    cursor: pointer;
}

.box-form2 .left .form .input_field p{
    left: 0%;
    margin-bottom: 6px;
    color: #4A5568;
    font-size: 16px;
}
.box-form2 .left .form .dont p{
   margin-top: 150px;
   text-align: center;
   margin-top: 60px;
}
.box-form2 .left .form .login-google button i{
    
    color: #fff;
}