{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
{% for article in articles %}
<section class="cards-articles">
    
    <div class="article-post">
        
        <div class="article-post_img">
            <img src="{{article.image.url}}" alt="">
        </div>
        <div class="article-post_info">
            <div class="article-post_date">
                <p>{{article.date_posted}}</p>
            </div>
                <h3>Article By : <a style="text-decoration: none;" href="{%  url 'profile' article.author.username %}"><span>{{article.author.username}}</span></a></h3>
                <h1 class="article-post_title">
                    {{article.title}}
                </h1>
                <p class="article-post_text">
                {{article.post| safe}}
                </p>

            <a href="{% url 'single_article' article.id %}" class="article-post_link">Comment and Share Article</a>
        </div>
    </div>
    
</section>
{% endfor %}
{%endblock%}